.main{
    flex: 1;
    color: #FFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}
.main .gridIcon{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .gridIcon img{
    width: 30px;
}
.main .gridTitle{
    font-size: 15px;
    font-weight: bold;
    margin-top: 5px;
}
.main .gridInfo{
    margin-top: 14px;
    font-size: 11px;
}
.yourImc{
    font-size: 17px;
    margin: 10px 0 15px 0px;
}
